@import "node_modules/bootstrap/dist/css/bootstrap.css";
@import url("../fonts/icomoon.css");

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}
.icon-bubbles:before {
  content: "\e96c";
}
.icon-user:before {
  content: "\e971";
}
.icon-spinner9:before {
  content: "\e982";
}
.icon-spinner11:before {
  content: "\e984";
}
.icon-power:before {
  content: "\e9b5";
}
.icon-download2:before {
  content: "\e9c5";
}
.icon-link:before {
  content: "\e9cb";
}
.icon-warning:before {
  content: "\ea07";
}
.icon-notification:before {
  content: "\ea08";
}
.icon-question:before {
  content: "\ea09";
}
.icon-info:before {
  content: "\ea0c";
}
.icon-cancel-circle:before {
  content: "\ea0d";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-cog:before {
  content: "\e994";
}
.icon-cogs:before {
    content: "\e995";
}

/*CUSTOM STYLES*/

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 3.5rem;
}

main {
  padding-bottom: 8px;
}

.ace-editor {
  min-height: 300px;
  font-size: 14px;
}

img.jumbo-logo-lg {
  width: 164px;
}

img.jumbo-logo {
  width: 92px;
}

img.inline-logo {
  height: 1rem;
}

#alert-container-matey {
  position: fixed;
  top: -5px;
  left: 0;
  width: 100%;
  z-index: 999;
}

#alerts-matey div {
  margin: 4px auto;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}

a.anchor {
  display: block;
  position: relative;
  top: -3.6rem;
  visibility: hidden;
}

.bd-title {
    margin-top: 1rem;
    margin-bottom: .5rem;
    font-weight: 300;
}
